{% extends 'base.html' %}

{% block body %}
<h1 align="center">Bag</h1>
  {% for x in data1 %}
<p><strong> {{x.productName}}</strong></p>    <br>
<br>
 <p><strong> {{x.price}} </strong></p>                {{x.quantity}} </br>
   <img src="{{x.image.url}}" style="width:30%"><br>

  <div align="center">
    <pre>
<a href="{% url 'delete' x.productId %}"> reducequantity</a><br>

    <a href="{% url 'chakker' x.productId %}"> increaseQuantity</a><br>
    </pre>
</div>

  {% endfor %}

Total_Amount ::{{cartprice}}<br>

<div>
<a href="{% url 'ads' %}"> Buy</a>
</div>

<br>
<br>
<br>
<br>



{% endblock %}



