<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} My-site {% endblock %}</title>
  </head>
  <body>
    <header>
      <h1>MySite.com</h1>

      <section id="wrapper">
    <div id="main">
      <form action="{%url 'search' %}" method="GET">

        <input type="text" name="q" placeholder="search product">
        <input type="submit" class="solid" value="Search">
      </form>
    </div><!--main-->
  </section><!--wrapper-->

       <div align="center">
         <button ><a href="{% url 'product' %}">product</a></button>
        <button ><a href="{% url 'bag' %}">Cart</a></button>
         <button ><a href="{% url 'myorder' %}">MyOrders</a></button>
       </div>
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">logout</a>
      {% else %}
        <a href="{% url 'login' %}">login</a> / <a href="{% url 'signup' %}">signup</a>
      {% endif %}
      <hr>
    </header>
    <main>

      {% block body %}
      {% endblock %}
    </main>
  </body>
</html>